@{
    ViewData["Title"] = "Ticket Created";
}
<div class="container mt-1 mt-md-5 text-center">
    <h4 class="display-5">Thank you for your submission</h4>
    <p>A support technician will contact you shortly, your ticket# is @ViewBag.TicketId</p>
</div>